<h1>@user.name</h1>





<br>

<%= link_to 'Edit', edit_user_path(@user[:id]) %>

<br>

<%= link_to 'Back', root_path %>
<%= link_to 'Destroy', user_path(@user), method: :delete, data: {confrim: 'Delete'} %>
